h3{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(104, 36, 36);
  font-size: 23px;
}

.text1{
  width:360px;
  font-size: 20px;
  color:rgb(102, 69, 25);
  font-weight:600;
  font-family: Arial, Helvetica, sans-serif;
  /* position:absolute;
  left: 230px;
  top:300px; */
}
strong{
  font-family: Arial, Helvetica, sans-serif;
  color:black
}
.bb{
  background-color:white;
  margin-top: 0px;
  margin-left: 0px;
}
.text2{
  margin-top: -60px;
  margin-left: 70px;
  color:black;

}

.b{
  border-radius: 12px;
  margin-left: 0px;
  margin-top: 0px;
  width:100px;
  padding-left: 25px;
  text-align:center;
  height:40px;
  background-color:rgb(83, 28, 134);
}
.price{
  border: 6px double rgb(160, 26, 26);
  padding:2px 6px 2px;
  width:180px;
  font-size: 16px;
  border-radius: 13px;
  text-align: center;
  color: rgb(129, 68, 121);
  font-weight: 600;
}
.rating{
  font-weight: 600;
  font-size: medium;
  color: black;
  text-decoration: underline;
}
.items{
  margin-left: 100px;
}



/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/